<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!--
	<bean name="quartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="deletePushPageJobCronTrigger"/>
			</list>
		</property>
		<property name="configLocation" value="classpath:config/properties/quartz.properties"/>
	</bean>
	<bean id="deletePushPageJobCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="deletePushPageJobDetail"/>
		<property name="cronExpression" value="0 0 6 * * ?"/>
	</bean>
	<bean id="deletePushPageJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="deletePushPageJob"/>
		<property name="targetMethod" value="work"/>
	</bean>
	<bean id="deletePushPageJob" class="com.jingchang.components.job.DeletePushPageJob">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	-->
</beans>
