<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	default-autowire="byName" default-lazy-init="true"><!--

	
	<bean id="userService"
		class="com.asiainfo.ec.prm.syscommon.service.impl.UserServiceImpl" />
	<bean id="methodConfigService"
		class="com.asiainfo.ec.prm.syscommon.service.impl.MethodConfigServiceImpl" />

	<bean id="xmlEngine" class="com.asiainfo.ec.prm.components.xml.XmlEngine">
		<property name="methodConfigDao">
			<ref bean="methodConfigDao" />
		</property>
	</bean>
	
	<bean id="downLoadService" class="com.asiainfo.ec.prm.syscommon.service.impl.DownLoadServiceImpl">
		<property name="downLoadDao">
			<ref bean="downLoadDao" />
		</property>
	</bean>

--></beans>