<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
	 default-autowire="byName" default-lazy-init="true">
    
    <bean id="paresXML" class="com.asiainfo.ec.prm.syscommon.action.ParseXmlAction" > 
       <property name="xmlEngine">
           <ref bean="xmlEngine" />
       </property>  
	</bean>
	<bean id="login" class="com.asiainfo.ec.prm.syscommon.action.LoginAction" > 
       <property name="xmlEngine">
           <ref bean="xmlEngine" />
       </property>  
	</bean>
	<bean id="downLoadInit" class="com.asiainfo.ec.prm.syscommon.action.DownLoadAction" > 
       <property name="downLoadService">
           <ref bean="downLoadService" />
       </property>  
	</bean>
	<bean id="downLoadAction" class="com.asiainfo.ec.prm.syscommon.action.DownLoadAction" > 
       <property name="downLoadService">
           <ref bean="downLoadService" />
       </property>  
	</bean>
	<bean id="connDB" class="com.asiainfo.ec.prm.syscommon.action.ConnectionDBActin" > 
       <property name="downLoadService">
           <ref bean="downLoadService" />
       </property>  
	</bean>
 
</beans>